@font-face {
    font-family: 'Futura';
    src: url('./fonts/Futura-CondensedExtraBold.woff') format('woff2'),
        url('./fonts/Futura-CondensedExtraBold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
html {
    margin: 0;
    padding: 0;
}

:root {
    --main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --footer-color: #111;
    --text-color-primary: #111;
    --text-color-secondary: #757575;
    --text-color-gold: #aa8375;
    --zwart: black;
    --wit: white;
    --button-line-height: 1.5em;
    --button-font-weight: bold;
    --margin-bottom: 2.25em;
}


/* header styling */
header{
    position: sticky; top: 0;
    height: 4.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header svg {
    cursor: pointer;
}

header a svg {
    margin-left: 1em;
}

header button {
    border: none;
    margin-left: 1em;
    background-color: transparent;
}

header section svg {
    width: 1.5em;
    height: 1.5em;
    fill: var(--footer-color);
}

header section button svg {
    width: 1.8em;
    height: 1.8em;
}

/* Hamburger menu styling */
.hamburger{
    border: none;
    margin-right: 1em;
    background-color: transparent;
}

.container{
    float: left;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 15em;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    padding: 2em 1em 2em 2.5em;
    transform: translateX(19.5em);
    transition: .5s;
    height: 100vh;
    overflow: scroll;
}

.menu button {
    margin-left: auto;
    padding: 0;
    width: 1.6875em;
    height: 1.6875em;
}

.menu svg {
    margin-left: auto;
    margin-right: 0;
}

.menu ul:first-of-type {
    padding-bottom: 2em;
}

.menu ul:first-of-type li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showmenu{
    transform: translateX(0);
}

.menu li:last-child{
    border-bottom: none;
}

.menu li:first-child{
    font-weight: bold;
}

.menu article p {
    margin-top: 2em;
    font-size: 1.25em;
    color: var(--text-color-secondary);
    font-family: var(--main-font);
}

.menu article a {
    color: var(--footer-color);
}

.menu li a p{
    line-height: 1.666667;
    font-weight: 500;
    font-family: var(--main-font);
    font-size: 1.5em;
    color: var(--footer-color);
}

.menu ul:last-of-type {
    padding-bottom: 2em;
    padding-top: 2em;
}

.menu ul:nth-of-type(3) {
    display: flex;
}

.menu ul:nth-of-type(3) li:first-of-type a{
    background-color: var(--footer-color);
    padding: .5em 1em .5em 1em;
    color: var(--wit);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    margin-right: .5em;
    font-family: var(--main-font);
}

.menu ul:nth-of-type(2) a, .menu ul:nth-of-type(4) a {
    display: flex;
    align-items: center;
}

.menu ul:nth-of-type(2) svg, .menu ul:nth-of-type(4) svg{
    margin: 0 1em 0 0;
}

.menu ul:nth-of-type(3) li:nth-of-type(2) a{
    background-color: var(--wit);
    padding: .5em 1em .5em 1em;
    color: var(--footer-color);
    border: 1px solid var(--text-color-secondary);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    font-family: var(--main-font);
}

.topicons {
    display: flex;
}

.topicons a {
    align-self: center;
}

.hamburger {
    align-self: center;
}

.hamburger svg {
    margin: 0;
    width: 1.6875em;
}

/* algemene styling */
main {
    margin: 1em;
    font-family: var(--main-font);
    font-size: 1em;
    line-height: 1.5;
    color: var(--text-color-primary);
}

h1 {
    font-family: futura;
    font-size: 3em;
    line-height: 1;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: var(--main-font);
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1em;
    color: var(--footer-color);
}

h4 {
    color: var(--wit);
}

h5 {
    color: var(--text-color-gold);
    font-size: 1em;
    font-weight: normal;
}

p {
    margin-bottom: var(--margin-bottom);
    color: var(--footer-color);
}

ul {
    list-style-type: none;
}

span {
    margin: 0;
}

li p {
    margin: 0;
}

a {
    text-decoration: none;
}

a svg {
    align-self: center;
}

/*                     */
/* STYLING HOOFDPAGINA */
/*                     */

.hoofdpagina main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Eerste foto en parris goebel */
.hoofdpagina main section:first-of-type img {
    max-width: 100%;
    object-fit: cover;
    height: 70vh;
}

.hoofdpagina main section:nth-of-type(5) img {
    max-width: 100%;
}

/* Product slider grijs */

.hoofdpagina main li p:first-of-type {
    font-size: 1em;
    color: var(--text-color-secondary);
}

.hoofdpagina main section {
    margin-bottom: 7em;
}

/* Knop styling */
.hoofdpagina main section:nth-of-type(3) span,
.hoofdpagina main section:nth-of-type(6) span,
.hoofdpagina main section:nth-of-type(8) a {
    background-color: var(--wit);
    padding: .5em 1.75em .5em 1.75em;
    color: var(--zwart);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    font-weight: var(--button-font-weight);
    margin-right: auto;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.hoofdpagina main section:first-of-type a,
.hoofdpagina main section:nth-of-type(5) a,
.hoofdpagina main section:nth-of-type(7) span {
    background-color: var(--text-color-primary);
    padding: .5em 1.75em .5em 1.75em;
    color: var(--wit);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    font-weight: var(--button-font-weight);
}

.hoofdpagina main section:nth-of-type(3) span:hover,
.hoofdpagina main section:nth-of-type(6) span:hover,
.hoofdpagina main section:nth-of-type(8) a:hover {
    background-color: #d9d9d9;
}

.hoofdpagina main section:first-of-type a:hover,
.hoofdpagina main section:nth-of-type(5) a:hover,
.hoofdpagina main section:nth-of-type(7) span:hover {
    background-color: rgb(0, 0, 0, 0.8)
}
/* Nike titel */
.hoofdpagina main section:nth-of-type(5) h3{
    font-family: futura;
    font-size: 3em;
    line-height: 1;
}

/* Mis het niet P */
.hoofdpagina main section:nth-of-type(5) p:first-of-type {
    margin-bottom: 0;
}

/* Producten slider */
.hoofdpagina main section:nth-of-type(2) ul,
.hoofdpagina main section:nth-of-type(4) ul {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-right: -1em;
}

.hoofdpagina main section:nth-of-type(2) li,
.hoofdpagina main section:nth-of-type(4) li {
    width: 18.75em;
    margin-right: 1em;
}

.hoofdpagina main section:nth-of-type(2) img,
.hoofdpagina main section:nth-of-type(4) img {
    width: 18.75em;
    max-width: none;
}


/* Warme sets en meer voor jou (tekst en span over foto) */
.hoofdpagina main section:nth-of-type(3) a:first-of-type {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_3.0,cs_srgb/w_335,c_limit/d7c4ec5d-51bd-4c45-b251-612f67d6152f/offici%C3%ABle-nike-website.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 30em;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.hoofdpagina main section:nth-of-type(3) a:nth-of-type(2) {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_400,c_limit/ddd8f12a-f72f-4823-8377-9dd3e027c274/nike-just-do-it.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 30em;
    justify-content: flex-end;
}

.hoofdpagina main section:nth-of-type(6) a:first-of-type {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_319,c_limit/e7de83c3-93d4-4ab8-abe1-140a87b7fbb9/nike-just-do-it.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 30em;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.hoofdpagina main section:nth-of-type(6) a:nth-of-type(2) {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_319,c_limit/b2b86594-42c4-4fb8-a99f-acc0cfdbcf18/nike-just-do-it.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 30em;
    justify-content: flex-end;
}

.hoofdpagina main section:nth-of-type(3) h4,
section:nth-of-type(6) h3 {
    margin-left: 1.5em;
    max-width: 55%;
    margin-bottom: .5em;
}

/* Join us styling */
.hoofdpagina main section:nth-of-type(7) a {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_319,c_limit/0a8da1ce-c0a7-4622-bbb9-0c73b0c4c28b/nike-just-do-it.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.hoofdpagina main section:nth-of-type(7) a p {
    color: var(--text-color-primary);
    font-family: futura;
    font-size: 3em;
    line-height: 1;
    margin: 1em 0 0 .3em;
}

.hoofdpagina main section:nth-of-type(7) h3 {
    color: var(--text-color-primary);
    font-weight: normal;
    margin-left: 1em;
    margin-bottom: 1em;
}

.hoofdpagina main section:nth-of-type(7) span {
    margin-bottom: 2.5em;
    margin-left: 1em;
    margin-right: auto;
}

/* Meer Nike styling */
.hoofdpagina main section:nth-of-type(8) ul {
    display: flex;
    overflow: scroll;
    margin-right: -1em;
    position: relative;
}

.hoofdpagina main section:nth-of-type(8) li {
    position: relative;
    margin-right: 1em;
}

.hoofdpagina main section:nth-of-type(8) a {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* Bottom (9) */
.hoofdpagina main section:nth-of-type(9) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.hoofdpagina main section:nth-of-type(9) a {
    margin-bottom: 1.5em;
    color: var(--footer-color);
    font-weight: 500;
}

/*                     */
/* STYLING HERENPAGINA */
/*                     */

/* Schoenen tops en t-shirts etc. */
.herenpagina section:first-of-type ul{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    border-bottom: 1px solid var(--text-color-secondary);
}

.herenpagina section:first-of-type a {
    padding: 0 1em 1em 1em;
    white-space: nowrap;
    color: var(--text-color-primary);
    font-weight: 500;
}

.herenpagina section:first-of-type a:hover {
    color: var(--text-color-secondary);
}

.herenpagina section:first-of-type a:active {
    color: var(--text-color-secondary);
}

.herenpagina section:first-of-type a:first-of-type {
    padding-left: 0;
}

.herenpagina ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* resultaten + filter balk */
.herenpagina section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

.herenpagina section:nth-of-type(2) button {
    display: flex;
    font-family: var(--main-font);
    font-size: 1em;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
    width: 6em;
    border: 1px solid var(--text-color-secondary);
    border-radius: 1em;
}

.herenpagina section:first-of-type li {
    padding: 1em 0 1em 0;
}

/* Styling grid + inhoud */
.herenpagina section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 5em;
}

.herenpagina img {
    max-width: 100%;
}

.herenpagina h4 {
    color: rgb(250, 84, 0);
}

.herenpagina h2 {
    font-size: 0.875em;
    font-weight: 450;
}

.herenpagina p {
    margin-bottom: 0;
    font-size: 0.875em;
}

.herenpagina section:nth-of-type(3) p:first-of-type, .herenpagina p:nth-of-type(2) {
    color: var(--text-color-secondary);
}

/* Gerelateerde categorieën */
.herenpagina section:nth-of-type(4) ul{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.herenpagina section:nth-of-type(4) li {
    padding: 1em 0 1em 0;
}

.herenpagina section:nth-of-type(4) a {
    white-space: nowrap;
    background-color: var(--wit);
    padding: .5em;
    color: var(--zwart);
    border: 1px solid var(--text-color-secondary);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    margin-right: .5em;
}

/*                     */
/* FOOTER STYLING      */
/*                     */
footer {
    background-color: var(--footer-color);
    font-family: var(--main-font);
    font-size: 0.875em;
}

footer section {
    margin-left: 1em;
    margin-bottom: 7em;
}

footer p {
    font-size: 1em;
    color: #7e7e7e;
    margin-bottom: 0;
}

footer ul {
    padding-top: 2em;
}

footer li {
    margin-bottom: 1em;
}

footer a {
    color: white;
}

footer section {
    margin-bottom: 4em;
}

footer section:nth-of-type(1) {
    border-bottom: 1px solid var(--text-color-secondary);
}

footer section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

footer section:nth-of-type(2) a {
    margin-bottom: 2em;
}

footer section:nth-of-type(3) {
    display: flex;
}

footer section:nth-of-type(3) svg {
    fill: #7e7e7e;
    margin-right: 1em;
    width: 2.875em;
    height: 2.875em;
}

footer section:last-of-type {
    margin-bottom: 0;
    padding-bottom: 2em;
}


/* !!!!!!!!! TEST !!!!!!!! */
@media screen and (max-width: 640px) {
    .hoofdpagina main section:nth-of-type(8) img {
        width: 19em;
    }
}

@media screen and (min-width: 640px) {   
    /* Algemeen (Footer items naast elkaar) */
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 5em 0 5em;
    }

    footer section {
        margin-top: 1em;
    }

    footer section ul {
        padding-top: 0;
    }

    footer section:first-of-type {
        border-bottom: 0;
    }

    /* Hoofdpagina (foto styling/prijs/bottom) */
    .hoofdpagina h1, .hoofdpagina main section:first-of-type p {
        text-align: center;
    }

    .hoofdpagina main section:first-of-type a {
        display: block;
        margin: 1em auto 0 auto;
        width: 6.5em;
        text-align: center;
    }

    .hoofdpagina main section:nth-of-type(5) h3, .hoofdpagina main section:nth-of-type(5) p {
        text-align: center;
    }

    .hoofdpagina main section:nth-of-type(5) a {
        display: block;
        margin: 0 auto 0 auto;
        width: 6.5em;
    }
    
    .hoofdpagina main section:nth-of-type(3) {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1em;
    }

    .hoofdpagina main section:nth-of-type(3) h2 {
        width: 100%;
    }

    .hoofdpagina main section:nth-of-type(3) a {
        min-width: 17.8125em;
        flex: 1;
    }

    .hoofdpagina main section:nth-of-type(6) {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1em;
    }

    .hoofdpagina main section:nth-of-type(6) h2 {
        width: 100%;
    }

    .hoofdpagina main section:nth-of-type(6) a {
        min-width: 17.8125em;
        flex: 1;
    }

    .hoofdpagina main section:nth-of-type(5) img {
        width: 50vh;
    }

    .hoofdpagina main section:nth-of-type(9) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 5em;
        margin-left: 5em;
    }
}

@media screen and (min-width: 960px){
    /* Herenpagina (grid 3 naast elkaar) */
    .herenpagina section:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hoofdpagina main section:nth-of-type(7) a {
        background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_946,c_limit/72f12336-822e-4625-9271-7192ef368b0b/offici%C3%ABle-nike-website.jpg");
        height: 12.5em;
    }
    
}

@media screen and (min-width: 1025px){
    /* Algemeen (Header items ipv hamburger menu) DIT ZOU IK MET MEER TIJD NOG DOEN */


    /* Herenpagina (filter naast grid) DIT ZOU IK MET MEER TIJD NOG DOEN */
    
}