@font-face {
    font-family: 'futura';
    src: url('./fonts/Futura\ Condensed\ Extra\ Bold.otf');
}

*,
html {
    margin: 0;
    padding: 0;
}

:root {
    --main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --footer-color: #111;
    --text-color-primary: #111;
    --text-color-secondary: #757575;
    --text-color-gold: #aa8375;
    --zwart: black;
    --wit: white;
    --button-line-height: 1.5em;
    --button-font-weight: bold;
    --margin-bottom: 2.25em;
}


/* header styling */
header nav{
    position: sticky; top: 0;
    height: 4.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header svg {
    cursor: pointer;
}

header a svg {
    margin-left: 1em;
}

header button {
    padding: .5em;
    border: none;
    margin-left: 1em;
    background-color: transparent;
}

header section {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
}

header section svg {
    width: 1.5em;
    height: 1.5em;
    fill: var(--footer-color);
}

header section button svg {
    width: 1.8em;
    height: 1.8em;
}

/* Hamburger menu styling */
.hamburger{
    padding: .5em;
    border: none;
    margin-left: 1em;
    background-color: transparent;
}

.container{
    float: left;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 15em;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    padding: 40px 36px 150px 36px;
    transform: translateX(19.5em);
    transition: .5s;
    height: 100vh;
    overflow: scroll;
}

.menu button {
    margin-left: auto;
    padding: 0;
    width: 27px;
    height: 27px;
}

.menu svg {
    margin-left: auto;
    margin-right: 0;
}

.menu section:first-of-type li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showmenu{
    transform: translateX(0);
}

.menu li:last-child{
    border-bottom: none;
}

.menu li:first-child{
    font-weight: bold;
}

.menu article p {
    margin-top: 3em;
    font-size: 1.25em;
    color: var(--text-color-secondary);
    font-family: var(--main-font);
}

.menu article a {
    color: var(--footer-color);
}

.menu li a p{
    line-height: 1.666667;
    font-weight: 500;
    font-family: var(--main-font);
    font-size: 1.5em;
    color: var(--footer-color);
}

.menu section {
    margin: 1em 0 1em 0;
}

.menu section:nth-of-type(3) a:first-of-type{
    background-color: var(--footer-color);
    padding: .5em 1em .5em 1em;
    color: var(--wit);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    margin-right: .5em;
    font-family: var(--main-font);
}

.menu section:nth-of-type(2) a, .menu section:nth-of-type(4) a {
    display: flex;
    align-items: center;
}

.menu section:nth-of-type(2) svg, .menu section:nth-of-type(4) svg{
    margin: 0 1em 0 0;
}

.menu section:nth-of-type(3) a:nth-of-type(2){
    background-color: var(--wit);
    padding: .5em 1em .5em 1em;
    color: var(--footer-color);
    border: 1px solid var(--text-color-secondary);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    font-family: var(--main-font);
}

/* algemene styling */
main {
    margin: 1em;
    font-family: var(--main-font);
    font-size: 1em;
    line-height: 1.5;
    color: var(--text-color-primary);
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: var(--main-font);
    margin-bottom: 0.75em;
}

h2 {
    font-size: 1em;
    color: var(--footer-color);
}

h3 {
    color: var(--wit);
}

h4 {
    color: var(--text-color-gold);
    font-size: var(1em);
    font-weight: normal;
}

p {
    margin-bottom: var(--margin-bottom);
    color: var(--footer-color);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

span {
    margin: 0;
}

li p {
    margin: 0;
}

a {
    text-decoration: none;
}

a svg {
    align-self: center;
}

/*                     */
/* STYLING HOOFDPAGINA */
/*                     */

/* Product slider grijs */
.hoofdpagina main li p:first-of-type {
    font-size: 1em;
    color: var(--text-color-secondary);
}

.hoofdpagina main section {
    margin-bottom: 7em;
}

/* Knop styling */
.hoofdpagina main section:nth-of-type(3) span,
.hoofdpagina main section:nth-of-type(6) span,
.hoofdpagina main section:nth-of-type(8) a {
    background-color: var(--wit);
    padding: .5em 1.75em .5em 1.75em;
    color: var(--zwart);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    font-weight: var(--button-font-weight);
    margin-right: auto;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.hoofdpagina main section:first-of-type a,
.hoofdpagina main section:nth-of-type(5) a,
.hoofdpagina main section:nth-of-type(7) span {
    background-color: var(--text-color-primary);
    padding: .5em 1.75em .5em 1.75em;
    color: var(--wit);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    font-weight: var(--button-font-weight);
}

/* Nike titel */
.hoofdpagina main section:first-of-type h1,
.hoofdpagina main section:nth-of-type(5) h1:nth-of-type(2) {
    font-family: futura;
    font-size: 3em;
    line-height: 1;
}

/* Mis het niet P */
.hoofdpagina main section:nth-of-type(5) p:first-of-type {
    margin-bottom: 0;
}

/* Producten slider */
.hoofdpagina main section:nth-of-type(2) ul,
.hoofdpagina main section:nth-of-type(4) ul {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-right: -1em;
}

.hoofdpagina main section:nth-of-type(2) li,
.hoofdpagina main section:nth-of-type(4) li {
    width: 300px;
    margin-right: 1em;
}

.hoofdpagina main section:nth-of-type(2) img,
.hoofdpagina main section:nth-of-type(4) img {
    width: 300px;
    max-width: none;
}


/* Warme sets en meer voor jou (tekst en span over foto) */
.hoofdpagina main section:nth-of-type(3) a:first-of-type {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_3.0,cs_srgb/w_335,c_limit/d7c4ec5d-51bd-4c45-b251-612f67d6152f/offici%C3%ABle-nike-website.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 474.68px;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.hoofdpagina main section:nth-of-type(3) a:nth-of-type(2) {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_400,c_limit/ddd8f12a-f72f-4823-8377-9dd3e027c274/nike-just-do-it.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 474.68px;
    justify-content: flex-end;
}

.hoofdpagina main section:nth-of-type(6) a:first-of-type {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_319,c_limit/e7de83c3-93d4-4ab8-abe1-140a87b7fbb9/nike-just-do-it.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 474.68px;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.hoofdpagina main section:nth-of-type(6) a:nth-of-type(2) {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_319,c_limit/b2b86594-42c4-4fb8-a99f-acc0cfdbcf18/nike-just-do-it.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 474.68px;
    justify-content: flex-end;
}

.hoofdpagina main section:nth-of-type(3) h3,
section:nth-of-type(6) h3 {
    margin-left: 1.5em;
    max-width: 55%;
    margin-bottom: .5em;
}

/* Join us styling */
.hoofdpagina main section:nth-of-type(7) a {
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_319,c_limit/0a8da1ce-c0a7-4622-bbb9-0c73b0c4c28b/nike-just-do-it.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.hoofdpagina main section:nth-of-type(7) a h1 {
    color: var(--text-color-primary);
    font-family: futura;
    font-size: 3em;
    line-height: 1;
    margin-left: 16px;
    margin-top: 1em;
}



.hoofdpagina main section:nth-of-type(7) h3 {
    color: var(--text-color-primary);
    font-weight: normal;
    margin-left: 1em;
    margin-bottom: 1em;
}

.hoofdpagina main section:nth-of-type(7) span {
    margin-bottom: 2.5em;
    margin-left: 1em;
    margin-right: auto;
}

/* Meer Nike styling */
.hoofdpagina main section:nth-of-type(8) ul {
    display: flex;
    overflow: scroll;
    margin-right: -1em;
}

.hoofdpagina main section:nth-of-type(8) li {
    margin-right: 1em;
}

.hoofdpagina main section:nth-of-type(8) img {
    width: 19em;
    max-width: none;
}

/* Bottom (9) */
.hoofdpagina main section:nth-of-type(9) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.hoofdpagina main section:nth-of-type(9) a {
    margin-bottom: 1.5em;
    color: var(--footer-color);
    font-weight: 500;
}

/*                     */
/* STYLING HERENPAGINA */
/*                     */

/* Schoenen tops en t-shirts etc. */
.herenpagina section:first-of-type ul{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    border-bottom: 1px solid var(--text-color-secondary);
}

.herenpagina section:first-of-type a {
    padding: 0 1em 1em 1em;
    white-space: nowrap;
    color: var(--text-color-primary);
    font-weight: 500;
}

.herenpagina section:first-of-type a:hover {
    color: var(--text-color-secondary);
}

.herenpagina section:first-of-type a:first-of-type {
    padding-left: 0;
}

.herenpagina ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* resultaten + filter balk */
.herenpagina section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.herenpagina section:nth-of-type(2) button {
    display: flex;
    font-family: var(--main-font);
    font-size: 1em;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
    width: 6em;
    border: 1px solid var(--text-color-secondary);
    border-radius: 1em;
}

/* Styling grid + inhoud */
.herenpagina section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    margin-bottom: 5em;
}

.herenpagina h4 {
    color: rgb(250, 84, 0);
}

.herenpagina h2 {
    font-size: 0.875em;
    font-weight: 450;
}

.herenpagina p {
    margin-bottom: 0;
    font-size: 0.875em;
}

.herenpagina section:nth-of-type(3) p:first-of-type, .herenpagina p:nth-of-type(2) {
    color: var(--text-color-secondary);
}

/* Gerelateerde categorieën */
.herenpagina section:nth-of-type(4) ul{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.herenpagina section:nth-of-type(4) a {
    white-space: nowrap;
    background-color: var(--wit);
    padding: .5em;
    color: var(--zwart);
    border: 1px solid var(--text-color-secondary);
    border-radius: 1em;
    line-height: var(--button-line-height);
    text-decoration: none;
    margin-right: .5em;
}

/*                     */
/* FOOTER STYLING      */
/*                     */
footer {
    background-color: var(--footer-color);
    font-family: var(--main-font);
    font-size: 0.875em;
}

footer section {
    margin-left: 1em;
    margin-bottom: 7em;
}

footer p {
    font-size: 0.75em;
    color: #7e7e7e;
}

footer ul {
    padding-top: 2em;
}

footer li {
    margin-bottom: 1em;
}

footer a {
    color: white;
}

footer section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

footer section:nth-of-type(2) a {
    margin-bottom: 2em;
}

footer section:nth-of-type(3) {
    display: flex;
}

footer section:nth-of-type(3) svg {
    fill: #7e7e7e;
    margin-right: 1em;
    width: 2.875em;
    height: 2.875em;
}